<style type="text/css">
  table.tableizer-table {
  border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.tableizer-table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #ccc;
}
.tableizer-table th {
  background-color: #104E8B;
  color: #FFF;
  font-weight: bold;
}
</style><table class="table">
<tr class="tableizer-firstrow"><th>App</th><th>Android Package Name</th><th>Apple ID</th></tr>
 <tr><td>Orbitz</td><td>com.orbitz</td><td>403546234</td></tr>
 <tr><td>Booking</td><td>com.booking</td><td>367003839</td></tr>
 <tr><td>Priceline</td><td>com.priceline.android.negotiator</td><td>336381998</td></tr>
 <tr><td>Expedia</td><td>com.expedia.bookings</td><td>427916203</td></tr>
 <tr><td>Trivago</td><td>com.trivago</td><td>376888389</td></tr>
 <tr><td>Kayak</td><td>com.kayak.android</td><td>305204535</td></tr>
 <tr><td>AirBnB</td><td>com.airbnb.android</td><td>401626263</td></tr>
 <tr><td>Hotel.com</td><td>com.hcom.android</td><td>284971959</td></tr>
 <tr><td>HotelTonight</td><td>com.hoteltonight.android.prod</td><td>407690035</td></tr>
 <tr><td>Tripadvisor</td><td>com.tripadvisor.tripadvisor</td><td>284876795</td></tr>
 <tr><td>Hipmunk</td><td>com.hipmunk.android</td><td>419950680</td></tr>
 <tr><td>CheapOAir</td><td>com.fp.cheapoair</td><td>436858222</td></tr>
 <tr><td>Hotwire</td><td>com.hotwire.hotels</td><td>566635048</td></tr>
 <tr><td>Skyscanner</td><td>net.skyscanner.android.main</td><td>415458524</td></tr>
</table>
